header 
    display: flex
    justify-content: space-between
    align-items: center
    padding: 20px
    ul
        display: flex
        justify-content: space-around
        align-items: center
        gap: 50px
    img
        width: 210px
        height: 68px