.card-list
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    gap: 60px
    padding: 20px
    margin: 20px
    background-color: #F6F6F6
    border-radius: 20px

body
    display: flex
    justify-content: center
    align-items: center

