.card-list
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    gap: 60px
    padding: 46px 50px 43px 50px
    margin: 0 100px
    background-color: #F6F6F6
    border-radius: 20px

#root
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 38px

main
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%
    padding: 0 100px

