.card-list
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 60px
    padding: 46px 50px 43px 50px
    background-color: #F6F6F6
    border-radius: 20px
    width: 100%
    max-width: 1440px
    
    a
        display: block
        width: 100%
        aspect-ratio: 1 / 1

.content
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 38px
    padding: 0 100px

main
    display: flex
    justify-content: center
    align-items: center
    width: 100%

